* {
    box-sizing: border-box;
}
a {
  text-decoration: none;
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* p:last-child {
  margin-bottom: 0;
} */

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {  
  display: flex;  
  flex-direction: column;
  align-items: center;  
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f0f0f0; 
   /* padding-left: 156px; */
}

.back { 
  margin: 20px 0;
}
.select-page {  
  margin-top: 20px;
}